<!DOCTYPE html>
  <html>
      <h1>Parcel Price</h1>
      <p>Enter in your parcel's information!</p>
  <form action="/result">
    <div class="form-group">
      <h2>Length</h2>
        <input id="length" name="length" class="form-control" type="text">
    </div>
   <div class="form-group">
      <h2>Height</h2>
       <input id="height" name="height" class="form-control" type="text">
   </div>
   <div class="form-group">
      <h2>Width</h2>
       <input id="width" name="width" class="form-control" type="text">
   </div>
   <div class="form-group">
      <h2>Speed</h2>
       <input id="speed" name="speed" class="form-control" type="text">
   </div>
   <div class="form-group">
      <h2>Weight</h2>
       <input id="weight" name="weight" class="form-control" type="text">
   </div>
   <div class="form-group">
      <h2>Gift</h2>
       <input id="gift" name="gift" class="form-control" type="text">
   </div>
  <button type="submit" class="btn-primary">Get Shipping Cost</button>
 </form>
</div>
</html>
