<!DOCTYPE html>
  <html>
  <body>
    <h1>price your parcel here</h1>
    <div class="logo_image">
  <img src="/images/eps.jpg" alt="Logo">
    </div>
  <form action="/result">
    <div class="form-group">
      <h3>length</h3>
        <input id="length" name="length" class="form-control" type="text">
    </div>
   <div class="form-group">
      <h3>height</h2>
       <input id="height" name="height" class="form-control" type="text">
   </div>
   <div class="form-group">
      <h3>width</h2>
       <input id="width" name="width" class="form-control" type="text">
   </div>
   <div class="form-group">
      <h3>speed</h2>
       <input id="speed" name="speed" class="form-control" type="text">
   </div>
   <div class="form-group">
      <h3>weight</h2>
       <input id="weight" name="weight" class="form-control" type="text">
   </div>
   <div class="form-group">
      <h3>gift</h2>
       <input id="gift" name="gift" class="form-control" type="text">
   </div>
  <button type="submit" class="btn-primary">Get Shipping Cost</button>
 </form>
</div>
</body>
</html>
