<!DOCTYPE html>
<html>
<head>
  <title>Parcel Price</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/stylesheet.css">
  <link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
