body {
  background-color: #a63ffd;
}

h1 {
  color: white;
  font-family: 'Poiret One', cursive;
}

h2 {
  color: #afbec5;
  font-family: 'Poiret One', cursive;
}

.form-group {
  color: #397fdb;

}
